body{
	font-family: 'Russo One', sans-serif;
	font-weight: bold;
	background-image: url("/img/pic2.jpeg");
	background-repeat: no-repeat;
}
#container{
	background-image: url("/img/purple.png");
	position: relative;
	height: 700px;
	width: 700px;
	margin: auto;
	border:10px solid pink;
	border-radius:50%;
}
.button{
	height: 200px;
	width: 200px;
	opacity: 1.00;
	border: 5px solid pink;
	box-shadow: 15px 10px 10px #888888;
}
#greenButton{
	position: relative;
	margin-left: 20%;
	top: 20%;
	background-color: green;
}
#blueButton{
	position: relative;
	margin-left: 2%;
	top: 20%;
	background-color: blue;
}
#yellowButton{
	position: relative;
	margin-left: 20%;
	top: 25%;
	background-color: yellow;

}
#redButton{
	position: relative;
	margin-left: 2%;
	top: 25%;
	background-color: red;

}
#start{
	position:relative;
	background-color: black;
	color: white;
	bottom: 10%;
	margin-left: 40%;
	height:100px;
	width:125px;
	font-family: 'Russo One', sans-serif;
	border-radius:50%;
	font-size:20px;

}